.viewButton {
  padding: 15px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: #3484da;
  color: white;
  transition: 0.3s;
  margin-right: 1%;
}

.listbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color:#1a3755
}

.listbar > h2 {
  margin-left: 1%;
  color: #6babf0;
}

.icon {
  cursor: pointer;
}